<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo list</title>
</head>

<body>
    
    <div id="app">
        <input type="text" v-model="inputVal">
        <button @click="handleBtn">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>

</body>
<script src="../../lib/vue.js"></script>
<script>
    

    var app = new Vue({
        el: '#app',
        data: {
            inputVal: '',
            list: []
        },
        methods: {
            handleBtn: function(){
                this.list.push(this.inputVal);
                this.inputVal = '';
            }
        }
    })
</script>

</html>