<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表渲染</title>

</head>

<body>

    <div id="root1">
        <div v-for="(item,index) in list" :key="item.id">

            {{item.text}} -------{{index}}
        </div>
    </div>
    <hr>

    <!-- 用模板渲染多个标签 -->
    <div id="root2">
        <template v-for="(item,index) in list" >
            <div :key="item.id">{{item.text}}</div>
            <span>{{index}}</span>
        </template>
    </div>
    <hr>

    <div id="root3">
        <div v-for="(value,key,index) in userInfo" >

            {{value}} -------{{key}}---------{{index}}
        </div>
    </div>
    <hr>

    <div id="root4">
        <div v-for="item in arr" >
            {{item}}
        </div>
    </div>


</body>
<script src="../../lib/vue.js"></script>
<script>

    var vm = new Vue({
        el: '#root1',
        data: {
            list: [
                {
                    id: '001',
                    text: 'jasminer'
                },
                {
                    id: '002',
                    text: '最帅'
                }
            ]
        }

    })

    //ps: 尽量避免使用index作为key值，这会有损渲染性能，最好用返回数据中的id


    //Vue支持原生js数组的7种方法
    //pop push shift unshift splice sort reverse
     vm.list.splice(1, 1, { id: '004', text: 'haha' })

    var vm2 = new Vue({
        el: '#root2',
        data: {
            list: [
                {
                    id: '0012',
                    text: 'jasminer'
                },
                {
                    id: '0023',
                    text: '最帅'
                }
            ]
        }

    })


    var vm3 = new Vue({
        el: '#root3',
        data: {
           userInfo: {
               name: 'shuaibi',
               age: 18
           }
        }

    })

    //使用Vue.set方法来给对象添加新的属性
    Vue.set(vm3.userInfo,'gender','male')

    //使用vm.$set方法
    vm3.$set(vm3.userInfo,'like','coding')


    var vm4 = new Vue({
        el: '#root4',
        data: {
           arr: [1,2,3,4]
        }

    })
    //三个参数分别对应 数组, 要修改数组的下标 , 修改后的值
    Vue.set(vm4.arr, 0, 8);
    Vue.set(vm4.arr, 4, 6);

</script>

</html>